/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.header-image {
    width: 150px; /* حجم الصورة */
    height: auto;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #444;
    overflow: hidden;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #555;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
